<h2>New User</h2>

<form action="/users" method="post">
  <label for="user[username]">username:</label>
  <input name="user[username]">
  <br>
  <label for="user[location]">location:</label>
  <input name="user[location]">
  <br>
  <label for="user[image]">Image:</label>
  <input name="user[image]">
  <br>
  <label for="user[bio]">bio:</label>
  <input name="user[bio]">

  <input type="submit" value="Create">
</form>

