<h2>New Wall</h2>

<form action="/walls" method="post">
  <label for="wall[title]">Title:</label>
  <input name="wall[title]">
  <br>
  <label for="wall[description]">Description:</label>
  <input name="wall[description]">
  <br>
  <label for="wall[ideal_design]">Ideal Design:</label>
  <input name="wall[ideal_design]">
  <br>
  <label for="wall[image]">Image:</label>
  <input name="wall[image]">

  <input type="submit" value="Create">
</form>

