body {
  background-color: #FCFCFC;

}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h4 {
  text-align: center;
}

// #map {
//   height: 300px;
//   width: 600px;
//   display:auto;
//   margin: 0 auto;
//   border:5px solid #553EA1;
//   border-radius: 5px;

// }

.navbar {
  background-color: #464655;
  color: #00A676;
}


#property-map {
  height: 600px;
  margin: 20px 0;
}

.media-list{
  position: relative;
}

.media-list li div p {
  // position: absolute;
  // left: 10px;
  // bottom: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 25px;
}


.media-left{
  // position:absolute;
  // bottom: 0px;
  // left: 0px
}

.homepage-body{
  background-image: url("http://static1.squarespace.com/static/55c0b54ee4b0240bae3b0955/t/55c0cf3be4b0cbff977368f4/1438699323055/Brick-Wall-Texture.jpg");
}

.jumbotron{
  background: rgba(230, 230, 230, .5); 
  margin-top: 240px;
  text-align: center;
  
}

.page-header{
  text-align:center;
}


#main-title-header{
  text-shadow: 1px 1px #222222;
}

.panel-footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.media-object{
  margin-top: 30px;
  margin-left: 50px;
}

#user-info{
  margin-left: 50px;
}

#aboutuser{
  margin-left: 140px;
}

#view-walls{
 text-align: center; 
}

#userbio{
  text-align: center;
}

#contactbtn{
  margin-left: 120px;
}


#search-form{
  margin-left: 30%;
}

#wallsindextitle{
  margin-left: 38%;
}


#add_a_wall{
  margin-left: 120px;
}
// .view-walls{
//   font-size: 200px;
// }



.wall_card {
  margin: 5px;
}
