body {
  background-color: #FCFCFC;

}

// #map {
//   height: 300px;
//   width: 600px;
//   display:auto;
//   margin: 0 auto;
//   border:5px solid #553EA1;
//   border-radius: 5px;

// }

.navbar {
  background-color: #464655;
  color: #00A676;
}


#property-map {
  height: 600px;
  margin: 20px 0;
}

.media-list{
  position: relative;
}


.media-left{
  // position:absolute;
  // bottom: 0px;
  // left: 0px
}

.homepage-body{
  background-image: url("http://static1.squarespace.com/static/55c0b54ee4b0240bae3b0955/t/55c0cf3be4b0cbff977368f4/1438699323055/Brick-Wall-Texture.jpg");
}

.jumbotron{
  background: rgba(230, 230, 230, .5); 
  margin-top: 240px;
  text-align: center;
  
}

.page-header{
  text-align:center;
}


#main-title-header{
  text-shadow: 1px 1px #222222;
}

.panel-footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.media-object{
  margin-top: 30px;
  margin-left: 50px;
}

#user-info{
  margin-left: 50px;
}

#aboutuser{
  margin-left: 50px;
}

#view-walls{
 text-align: center; 
}

// .view-walls{
//   font-size: 200px;
// }

// class="navbar navbar-default">