<h2 class="page-header">/register</h2>
<% @user.errors.full_messages.each do |error| %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= error %>
  </div>
<% end %>
<form id="register" method="post" action="/register">
  <div class="form-group">
    <label for="username">username</label>
    <input name="user[username]" type="text" class="form-control" id="username" placeholder="username">
  </div>

  <div class="form-group">
    <label for="first_name">first name</label>
    <input name="user[first_name]" type="text" class="form-control" id="first_name" placeholder="first name">
  </div>

  <div class="form-group">
    <label for="last_name">last name</label>
    <input name="user[last_name]" type="text" class="form-control" id="last_name" placeholder="last name">
  </div>

  <div class="form-group">
    <label for="first_name">email address</label>
    <input name="user[email]" type="email" class="form-control" id="email" placeholder="Email">
  </div>
  
  <div class="form-group">
    <label for="password">password</label>
    <input name="user[password]" type="password" class="form-control" id="password" placeholder="password">
  </div>

  <div class="form-group">
    <label for="image">image</label>
    <input name="user[image]" type="text" class="form-control" id="image" placeholder="image">
  </div>

  <div class="form-group">
    <label for="bio">bio</label>
    <input name="user[bio]" type="text" class="form-control" id="bio" placeholder="biography">
  </div>

  <div class="form-group">
    <label for="user_type">which type of user are you?</label><br>


    <input type="radio" name="user[user_type]" value="artist"> artist
    <input type="radio" name="user[user_type]" value="wall_owner"> wall owner<br>

  </div>

  <button type="submit" class="btn btn-default">Sign Up</button>
</form>

