<div class="container-fluid">


  <h1 class="page-header">completed walls area</h1>



    <div class="row">
      <% @walls.each do |wall| %>


        <% if !!(wall.owner_id.present? && wall.artist_id.present?) %>

          <div class="col-md-6">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="/walls/<%= wall.id %>">
                    </a>
                  </div>
                  <div class="media-body">
                    <a href="/walls/<%= wall.id %>">
                      <img src="<%= wall.image %>" width="440px">
                    </a>
                  </div>
                </li>
                </ul>
              </div>

        <% end %>

      <% end %>
    <!-- </ul> -->
    </div>


</div>

<div id="map"></div><br>
