<div class="container-fluid">

<% if is_artist? %>
<h1 class="page-header">map of sparewalls</h1>
<% else %>
<h1 class="page-header">map of completed walls</h1>
<% end %>


<input type="hidden" name="walls-data" value= '<%= @walls.to_json %>'>

  <div id="property-map"></div>
</div>