<h2>all walls</h2>
<ul class="media-list">
  <% @walls.each do |wall| %>
    <li class="media">
      <div class="media-left">
        <a href="/walls/<%= wall.id %>">
        </a>
      </div>
      <div class="media-body">
        <a href="/walls/<%= wall.id %>">
          <img src="<%= wall.image %>" width="440px">
        </a>
        <%= wall.location %>
      </div>
    </li>
  <% end %>
</ul>


<div id="map"></div><br>
