<h2>add a wall</h2>

<form id="walls" method="post" action="/walls" enctype="multipart/form-data">
  
  <div class="form-group">
  <div class="form-group">
    <label for="title">title</label>
    <input name="wall[title]" type="text" class="form-control" id="title" placeholder="title" value="<%= @wall.title %>">
  </div>

  <div class="form-group">
    <label for="address1">address1</label>
    <input name="wall[address1]" type="text" class="form-control" id="address1" placeholder="address1">
  </div>

  <div class="form-group">
    <label for="address2">address2</label>
    <input name="wall[address2]" type="text" class="form-control" id="address2" placeholder="address2">
  </div>

  <div class="form-group">
    <label for="city">city</label>
    <input name="wall[city]" type="text" class="form-control" id="city" placeholder="city">
  </div>

  <div class="form-group">
    <label for="postcode">postcode</label>
    <input name="wall[postcode]" type="text" class="form-control" id="postcode" placeholder="postcode">
  </div>

  <div class="form-group">
    <label for="image">image</label>
    <input name="wall[image]" type="text" class="form-control" id="image" placeholder="image">
  </div>
  <div class="form-group">
    <label for="owner_id">owner_id</label>
    <input name="wall[owner_id]" class="form-control" id="owner_id" placeholder="owner_id" value="<%= current_user.id %>" type="hidden">
  </div>

  <div class="form-group">
    <label for="lat">lat</label>
    <input name="wall[lat]" type="text" class="form-control" id="lat" placeholder="lat">
  </div>
  <div class="form-group">
    <label for="lng">lng</label>
    <input name="wall[lng]" type="text" class="form-control" id="lng" placeholder="lng">
  </div>

  <button type="submit" class="btn btn-default">create wall</button>
</form>


