body{
  background-color: #FCFCFC;
  font-family: 'Play', sans-serif;
  margin: 0 auto;
  text-align: center;
}


.container {
  margin-bottom: 50px;
  margin-top: 50px;
}

h1 {
  border-top: 7px solid rgba(0,0,0,0.7);
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  font-size: 56px;
  }

#score{
  border-top: 2px solid rgba(0,0,0,0.7);;
  width:80%;
  margin-left:10%;
  margin-right:10%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 15px;
  font-size: 24px;
  font-weight: italic;
}

ul {
  height:500px;
  width:500px;
  margin: 0 auto;
  border-radius: 1px;
}

#reset {
  border:2px solid rgba(0,0,0,0.7);;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0,0,0,0.7);;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5px;
  margin-top: -30px; 
  padding-bottom: 5px;
  font-size: 20px;
}

#reset:hover{
  background-color: rgba(0,0,0,0.7);;
  color:black;
  cursor: pointer;
}

#howtoplaytext {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 16px; 
  text-align: center;
  padding-top: 5px;
}

/*li {
  background-color: rgba(214, 4, 4, 0.5);
  color:rgba(100, 239, 170, 0.7);
  border-radius: 0px;
  height: 17%;
  width:17%;
  display: inline-block;
  margin:4px;
  cursor: pointer;
  font-size: 5em;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  box-sizing: border-box;

}*/

/*li:hover{

  border: 3px solid rgba(255,239,213,0.7);
  box-sizing: border-box;
  border-radius: 3px;
}
*/

.green {
  background-color: rgba(41, 242, 44, 0.6);
}

.gridSizeSelector{
  cursor: pointer;
  display:inline-block;
  font-size:34px;
}

.gridSizeSelector:hover {
  background-color: rgba(0,0,0,0.7);
  color: rgba(0,0,0,0.7);
  transform: scale(1.2);
  padding-left: 5px;
  padding-right: 5px;
}

#welcome{
  position:absolute;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  top:30%;
  border: 2px solid rgba(0,0,0,0.7);
  border-top: 3px solid rgba(0,0,0,0.7);
  border-right: none;
  border-left:none;
  padding-top: 50px;
  padding-bottom:50px; 
  background-color: rgba(35,55,35,0.7);
  opacity: 0.5;
}

#welcomeMessage{
  font-size: 22px;
}

#playerScoreboard{
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
}


#structure{
  border:2px solid rgba(0,0,0,0.7);
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0,0,0,0.7);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  /*padding-top: 5px;*/
  padding-bottom: 5px;
  font-size: 32px;
}

/*#howtoplay:hover{
  background-color: beige;
  color:black;
  cursor: pointer;
}*/


#goodLuck{
  font-size: 24px;
}


#welcomeMessage{
  font-weight: bold;
  color:rgba(255, 238, 220,0.8);
  font-size:36px;
}

#herokuURL {
  font-size: 28px;
  margin-top: 150px;

}

#herokuURL:hover {
  text-decoration: underline;
  transform: scale(2);
}

li{
  padding-top: 5px;
  padding-bottom:5px;
}

/*#structure{
  font-size: 24px;
  padding-bottom: 5px;
}*/

#structure:hover{
  background-color: rgba(0,0,0,0.7);
  color:black;
  cursor: pointer;
}

p{
  display:block;
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}

a:hover{
  text-decoration: underline;
  transform: scale(1.3);
}

a:visited {
  color: rgba(0,0,0,0.7);
  /*color: rgba(41, 242, 44, 0.4);*/
  text-decoration: none;
}

#presentationContent{
  margin-top: 200px;
}

@media only screen and (max-width: 640px) {

  
  h1{
    font-size: 50px;
  }

  #score {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: -30px;
    padding-top: 10px;
  }

  ul {
    height:350px;
    width: 350px;
  }

  #reset{
    font-size: 16px;
    position: absolute;

  }

  #howtoplay{
    font-size:16px;
  }

  #instructions{
    font-size:16px;
    margin-top: -30px;
  }

  #howtoplaytext{
    font-size: 14px;
  }

  .gridSizeSelector{
    font-size:28px;
  }
  #welcome{
    font-size: 14px;
  }
  
  #playerScoreboard{
    font-size:8px;
    margin-top: -40px;
  }


}
